#sidebar 
    width: 250px;
    position: fixed;
    top: 20;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
    .sidebar-header
        padding: 20px;
        background: #6d7fcc;
        ul.components
            padding: 20px 0;
            border-bottom: 1px solid #47748b;