<!-- <div id="filter" class="row">
	<div class="col-md-12">
		<div id="utilites">
			<i>Collapse</i>
			<i>Expand</i> 
		</div>
		<p> Filter Documents:</p>

		<div class="form-group">
	  		<input type="text" [(ngModel)]="query" class="form-control" id="usr" placeholder="Filter by file name, type, category" (keyup.enter)="getQuery()">
	  	</div>
	  	<div class="col-md-2">
		  	<p> Sort By Category:</p>
	  	</div>
	  	<div class="form-group col-md-2">

	  		<div class="checkbox">
		  		<label><input type="checkbox" value="">Bills</label>
			</div>
			<div class="checkbox">
			  <label><input type="checkbox" value="">Education</label>
			</div>
			<div class="checkbox disabled">
			  <label><input type="checkbox" value="" disabled>Grocery</label>
			</div>
	  		
	  	</div>

	  	<div class="form-group col-md-2">

	  		<div class="checkbox">
		  		<label><input type="checkbox" value="">Bank</label>
			</div>
			<div class="checkbox">
			  <label><input type="checkbox" value="">Insurance</label>
			</div>
			<div class="checkbox disabled">
			  <label><input type="checkbox" value="" disabled>Health</label>
			</div>
	  		
	  	</div>
	  	<div class="col-md-2">
		  	<p> Sort By Date:</p>
	  	</div>
	  	<div class="col-md-2">
	  		<label>
	  			From:
	  		</label><input type="date" name="bday">
	  	</div>
	  	<div class="col-md-2">
	  		<label>To: </label>
	  		<input type="date" name="bday">
	  	</div>

	</div>
</div> -->
<div class="wrapper">
		<!--  -->
		<nav id="sidebar">
				<app-sidebar (search)="getQuery($event)"></app-sidebar>
				<!-- <div class="sidebar-header">
						<h3>Bootstrap Sidebar</h3>
				</div>

				<ul class="list-unstyled components">
						<p>Dummy Heading</p>
						<li class="active">
								<a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">Home</a>
								<ul class="collapse list-unstyled" id="homeSubmenu">
										<li><a href="#">Home 1</a></li>
										<li><a href="#">Home 2</a></li>
										<li><a href="#">Home 3</a></li>
								</ul>
						</li>
						<li>
								<a href="#">About</a>
								<a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false">Pages</a>
								<ul class="collapse list-unstyled" id="pageSubmenu">
										<li><a href="#">Page 1</a></li>
										<li><a href="#">Page 2</a></li>
										<li><a href="#">Page 3</a></li>
								</ul>
						</li>
						<li>
								<a href="#">Portfolio</a>
						</li>
						<li>
								<a href="#">Contact</a>
						</li>
				</ul> -->
		</nav>


	<div id="content">

			<!-- <div id="documents" *ngFor="let obj of imageArray | filter: searchQuery |paginate: { itemsPerPage: 5, currentPage: p }">
					<div class="">
							<img src="{{obj.image}}">
							<p> {{obj.name}}</p>
					</div>
	
			</div> -->
			<div class="row">
					<div class="document" *ngFor="let obj of imageArray | paginate: { itemsPerPage: 5, currentPage: p }">
							<img src="{{obj.image}}">
							<p> {{obj.name}}</p>
							<p>{{obj.category | category}}</p>
					</div>
			</div>

			<div id="pagination">
					<pagination-controls (pageChange)="p = $event"></pagination-controls>
			</div>

</div>




	<!-- <div class="main-container">
		<div id="documents" *ngFor="let obj of imageArray | filter: searchQuery |paginate: { itemsPerPage: 5, currentPage: p }">
				<div class="col-md-4">
						<img src="{{obj.image}}" width="250px">
						<p> {{obj.name}}</p>
				</div>

		</div>
	</div> -->

<!-- </div> -->

<!-- <div class="row" id="pagination">
		<div class="col-md-12">
			<pagination-controls (pageChange)="p = $event"></pagination-controls>
		</div>
</div> -->


